<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Seçimi</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <h2>Hangi Hakeme Gönderiliyor?</h2>
    <form action="/hakemeGonderPost?q=<%-makale.makaleID %>" method="post" enctype="application/x-www-form-urlencoded">
      <div class="modal-body">
        <div class="form-group">
          <label for="editors">Hakemleri Seçin:</label><br>
          <% hakemler.forEach(element => { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="editors[]" value="<%-element.userUniqueID %>_<%-element.givenName %> <%-element.familyName %>" id="user_<%-element.userUniqueID %>">
              <label class="form-check-label" for="user_<%-element.userUniqueID %>">
                İsmi Soyismi: <%-element.givenName %> <%-element.familyName %> | İlgilendiği Alan: <%-element.topics %>
              </label>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> Hakemlere Gönder</button>
      </div>
    </form>
  </div>

  <!-- Bootstrap JS ve jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>
</html>